*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.Logotipo-daniel{
    width: 80px;
    border-radius: 50%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #006494;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    color:#E8F1F2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.resumo-foto{
    display:flex;
    flex-direction: row;
    gap:10px;
    padding: 30px;
}

.resumo{
    display: flex;
    flex-direction:column ;
    gap: 30px;
}

h1{
    text-align: center;
    font-size: 50px;
    color: #13293d  ;
    font-family: Arial, Helvetica, sans-serif;
    animation: float 0.5s ease-in-out;
}
@keyframes float{
    0%{
        transform:translate(-1000px);
    }
    50%{
        transform:translate(-130px);

    }
    100%{
        transform: translate(0px);
    }
}

.resumo-sobre-mim{
    font-size: 20px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.foto{
    width: 1000px;
    animation: float 1.5s ease-in-out;

}

@keyframes float{
    0%{
        transform:translate(100px);
    }
    50%{
        transform:translate(-30px);

    }
    100%{
        transform: translate(0px);
    }
}